body {background-color:#342E2E ;}
p {color: #82C7CE;}
a {color: #46A68B;}
h1, h2, h3 {color: #395AA7;}
nav {background-color:#27186F ;
}
nav a { color: #213fd2;}
nav a:hover {background-color:  #342E2E;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}