body {background-color:#ede6e6 ;}
p {color: #1E4952;}
a {color: #1E4952;}
h1, h2, h3 {color: #395AA7;}
nav {background-color: #171717;
}
nav a { color: #7fd221;}
nav a:hover {background-color:  #342E2E;}
nav {padding: 10px;}
nav {margin-bottom: 30px;
color: #7fd221 ;}
nav span {color: #7fd221;}
@media only screen and (max-width:600px) {
nav a {max-width: 100%;
display: block;
padding: 1%;}
nav span {display: none;}


}
